<% include includes/header %>
<div class="container-fluid">
    <!-- Main hero unit for a primary marketing message or call to action
    -->
    <div class="row-fluid">
        <div style="margin-top:15%;" class="span8 offset2">
                <h1 style="font-size:5em;text-align:center;line-height:60px;">
                    <%= pageData.largeTitle %>
                </h1>
        </div>
    </div>
</div>
<% include includes/footer %>