<% include includes/header %>
<div class="container-fluid">
    <!-- Main hero unit for a primary marketing message or call to action
    -->
    <div class="row-fluid">
        <div class="span8">

            <div class="hero-unit">
                <h1>
                    HA
                </h1>
                <p>
                    LOL
                </p>
                <p>
                    <a href="about.php" class="btn btn-primary btn-large">Learn more &raquo;</a>
                </p>
            </div>

        </div>
        <div class="span4">
            <h2>
                Newsletter
            </h2>
            <form class="form-signin" action="viewNewsletter.php" method="post">
                <select name="form">
                    newsletters/Feb2013.phpnewsletters/fundex.png<option>Feb2013</option>

                </select>
                <p>
                    <button class="btn" name="view" type="submit">View &raquo;</button>
                </p>
            </form>
            <hr>
            <center>
                <h2>
                    Information Slides
                </h2>
                <a href="Proposal Jan 2013.pptx" class="btn btn-primary btn-medium">Download <i class="icon-arrow-down icon-white"></i></a></center>
        </div>


    </div>
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span4">
            <h2>
                How we invest
            </h2>
            <p>
                Mike does a thorough review with each client to determine financial goals and risk tolerance.  We custom design a portfolio of investments to fit your family’s specific needs.  We use a combination of mutual funds,  pooled funds to build your portfolio...
            </p>
            <p>
                <a class="btn" href="about.php">View details &raquo;</a>
            </p>
        </div>
        <div class="span4">
            <h2>
                Cost
            </h2>
            <p>
                Our services can be offered on a fee for service basis  or on the traditional Management fee trailer basis.  We do not sell any products with a front end or back end commission.  All our solutions are sold only on a  No load , no commission basis...
            </p>
            <p>
                <a class="btn" href="services.php">View details &raquo;</a>
            </p>
        </div>
        <div class="span4">
            <h2>
                Location/Contact
            </h2>
            <iframe width="100%" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=34+King+Street+East&amp;aq=&amp;sll=43.858482,-79.232626&amp;sspn=0.017236,0.042272&amp;gl=ca&amp;ie=UTF8&amp;hq=&amp;hnear=34+King+St+E,+Toronto,+Ontario+M5C+1E9&amp;t=m&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe><br />
            <p style="font-size:0.9em;">
                34 King Street East, Suite 1010 10th Floor of the Canadian Press Building Toronto, Ontario M5C-2X8
            </p>
            <p>
                <a class="btn" href="contact.php">View details &raquo;</a>
            </p>
        </div>
    </div>
</div>
<% include includes/footer %>