<% include includes/header %>
<div class="container-fluid">
    <div class="hero-unit">
        <div class="row-fluid">

            <div class="span5">
                <img style="border-style:solid;border-width:5px;margin-top:30px;">

                <p>
                <h2>Mike Baron, C.A.:</h2>
                Phone: 416 367-2557<br>
                Fax:  416 367-2167<br>
                Email: mbaron@slsfinancial.ca
                <h2>Associates:</h2>
                Barbara Wallace: bwallace@srlg.net 416 367-0925<br
                    >Marie Baron<br>
                Sydney Baron<br>
                </p>

            </div>
            <div class="span5">
                <h2>Location:<br><h2>
                    <h4>
                        34 King Street East, Suite 1010 10th Floor of the Canadian Press
                        Building Toronto, Ontario M5C-2X8
                    </h4>
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?source=s_q&amp;f=q&amp;hl=en&amp;geocode=&amp;q=34+King+Street+East&amp;aq=&amp;sll=43.858482,-79.232626&amp;sspn=0.017236,0.042272&amp;gl=ca&amp;ie=UTF8&amp;hq=&amp;hnear=34+King+St+E,+Toronto,+Ontario+M5C+1E9&amp;t=m&amp;ll=43.653901,-79.372101&amp;spn=0.029808,0.054932&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ca/maps?source=embed&amp;f=q&amp;hl=en&amp;geocode=&amp;q=34+King+Street+East&amp;aq=&amp;sll=43.858482,-79.232626&amp;sspn=0.017236,0.042272&amp;gl=ca&amp;ie=UTF8&amp;hq=&amp;hnear=34+King+St+E,+Toronto,+Ontario+M5C+1E9&amp;t=m&amp;ll=43.653901,-79.372101&amp;spn=0.029808,0.054932&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                    <br />
            </div>

        </div>
    </div>
</div>
<% include includes/footer %>