<% include ../includes/dashboardHeader %>
            <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <% include ../includes/dashboardMenu %>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Add/RemovePages</h1>
              <br>
              <div class="container-fluid">
                  <div class="row-fluid">
                      <div class="span6">
                          <h5>Page to add</h5>
                          <form method="post" action="/dashboard/addRemovePages/addPage">
                              <select name='pageType'>
                                  <%- pageHelper.getPageTypes('<option>','</option>').join('') %>
                              </select><br>
                              <input type="text" placeholder="Name of new page" name='pageDisplayName'><br>
                              <button class="btn" type="submit">Add Page <i class="icon-plus"></i></button>
                          </form>
                      </div>
                      <div class="span6">
                          <h5>Your current pages</h5>
                          <form method="post" action="/dashboard/addRemovePages/removePage">
                              <select name='pageDisplayName'>
                                  <%- account.getAllPageDisplayNames('<option>','</option>').join('') %>
                              </select><br><br>
                              <button class="btn" type="submit">Delete Page <i class="icon-trash"></i></button>
                          </form>
                      </div>
                  </div>
                  <br>
                  <div class="row-fluid">
                      <div class="span6">
                          <h3>Choose your homepage</h3>
                          <form method="post" action="/dashboard/addRemovePages/setHomePage">
                              <select name='pageDisplayName'>
                                  <%- account.getAllPageDisplayNames('<option>','</option>').join('') %>
                              </select><br>
                              <button class="btn" type="submit">Set Homepage <i class="icon-home"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
    </div>
    <% include ../includes/footer %>
