<% include ../includes/dashboardHeader %>
            <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <% include ../includes/dashboardMenu %>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Style</h1>
              <br>
          </div>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
    </div>
    <% include ../includes/footer %>
