<% include ../includes/dashboardHeader %>
            <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <% include ../includes/dashboardMenu %>
        </div><!--/span-->
        <div class="col-lg-9">
          <div class="jumbotron">
            <h1>SEO</h1>
              <br>
              <p><a href="#" class="btn btn-primary btn-large">View Your Site <i class="icon-star"></i></a></p>
            <p>Page hits: Coming soon</p>
          </div>
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
    </div>
    <% include ../includes/footer %>
