        <!-- Le javascript==================================================-
        ->
    <!-- Placed at the end of the document so the pages load faster -->
        <script src="/public/assets/bootstrap/js/jquery.min.js">
        </script>
        <script src="/public/assets/bootstrap/js/bootstrap.min.js">
        </script>
    </body>

</html>