<div class="well">
  <dl class="nav">
    <li class="nav-header">Account Stats</li>
    <li><a href="/dashboard/accountStats">Account</a></li>
    <li class="nav-header">Site Settings</li>
    <li><a href="/dashboard/generalSiteSettings">General</a></li>
    <li><a href="/dashboard/addRemovePages">Add or Remove Pages</a></li>
    <li><a href="/dashboard/changeStyle">Site Style</a></li>
    <!--<li><a href="/dashboard/seo">Search Engine Optimization</a></li>-->
    <li class="nav-header">Edit My Pages</li>
    <%- pageData.editPagesMenu %>
  </dl>
</div><!--/.well -->