<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="picDisplay" src="/public/mainSite/assets/img/brick2.svg" width="20px" type="image/svg+xml"/>&nbsp;&nbsp;Dev Brick</a>
    </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li <% if (displayData.view=='home') { %> class="active" <% } %> >
                        <a href="/">Home <i class="icon-home"></i></a>
                    </li>
                    <li <% if (displayData.view=='plans') { %> class="active" <% } %> >
                        <a href="/plans">Plans <i class="icon-shopping-cart"></i></a>
                    </li>
                    <li <% if (displayData.view=='contact') { %> class="active" <% } %> >
                        <a href="/contact">Contact/Support <i class="icon-phone"></i></a>
                    </li>
                    <% if (sessionData.loggedIn) { %>
                    <li <% if (displayData.view.indexOf("dashboard") !== -1) { %> class="active" <% } %> >
                        <a href="/dashboard">My Dashboard <i class="icon-dashboard"></i></a>
                    </li>
                    <% } %>
                </ul>
                 <% if (!sessionData.loggedIn) { %>
                 <form class="navbar-form navbar-right" method="post" action="/login">
                      <div class="form-group">
                        <input class="form-control" placeholder="Email" id="inputIcon" name='email' type="text">
                      </div>
                      
                      <div class="form-group">
                        <input class="form-control" placeholder="Password" id="inputIcon" name='password' type="password">
                      </div>
                  <button type="submit" class="btn">Log In</button>
                </form>
                 <% } else { %>
                 <form class="navbar-form navbar-right" method="post" action="/logout">
                  <p class='muted' style='display: inline;'>Logged in as <%= sessionData.email %></p>
                  <button type="submit" class="btn">Logout</button>
                </form>

                 <% } %>
            </div>
</div>            <!-- Begin page content -->