
.navbar-fixed-top {
    position: static;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    min-width: 320px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

/* Sticky footer styles
            ------------------------------------------------------------------------------------------------- */
html, body {
    height: 100%;
    background-color:#8cc9d1;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}

#footer {
     background-color: #060e0f;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-wide {
    padding-left:20px;
    padding-right:20px;
}

.container-wide .credit {
    padding: 20px 0;
}

.muted {
    color: #999999;
}

.masthead {
    background-color:#33A6C9; width:100%;padding-top:20px;
}

.masthead h1 {
    font-size: 70px; line-height: 1; letter-spacing: -2px;
}

