<% include includes/header %>
<script src="/public/bower_components/angular/angular.min.js"></script>
<script>

function PizzaCtrl($scope, $http) {
    //catagorys, bundle, items, type, options, selection, number free, cost each over

    //catagory[]{ bundle[]{item}/item, price }

    //type: pizza, wings, pop

    //pizza: topping, 3, 1 - crust, 1, null

    //options: topping, crust, flavor, type

    $scope.options = [];
    $scope.options['topping'] = [{name:'bacon'},{name:'cheese'}];
    $scope.options['crust'] = [{name:'white'},{name:'grain'},{name:'thick'}];
    $scope.options['pop'] = [{name:'coke'},{name:'root beer'}];

    $scope.menu = [
      {name:'Specials', items:[
          {name:'Heaven Deal', price: 11.99, items:[
            {name:'Small Pizza', options:[
              {name: 'topping',numSelect:3,overPrice:1.00},
              {name: 'crust',numSelect:1,overPrice:null}
            ]},
            {name:'pop', options:[
              {name: 'pop',numSelect:1,overPrice:null}
            ]},
            {name:'pop', options:[
              {name: 'pop',numSelect:1,overPrice:null}
            ]}
          ]},
          {name:'Other Deal', price: 11.99, items:[
            {name:'Large Pizza', options:[
              {name: 'topping',numSelect:3,overPrice:1.00},
              {name: 'crust',numSelect:1,overPrice:null}
            ]},
            {name:'pop', options:[
              {name: 'pop',numSelect:1,overPrice:null}
            ]},
            {name:'pop', options:[
              {name: 'pop',numSelect:1,overPrice:null}
            ]}
          ]}
      ]},
      {name:'Pizzas', items:[
          {name:'Small Pizza', price: 11.99, items:[
            {name:'Small Pizza', options:[
              {name: 'topping',numSelect:3,overPrice:1.00},
              {name: 'crust',numSelect:1,overPrice:null}
            ]}
          ]},
          {name:'Large Pizza', price: 11.99, items:[
            {name:'Large Pizza', options:[
              {name: 'topping',numSelect:3,overPrice:1.00},
              {name: 'crust',numSelect:1,overPrice:null}
            ]}
          ]}
      ]},
      {name:'Desert', items:[
          {name:'Cinamon sticks', price: 11.99, items:[
            {name:'Cinamon sticks', options:[]}
          ]}
      ]}
    ];

    $scope.toppings = [
    {name:'Pineapple', value: 1},
    {name:'Peperoni', value: 1},
    {name:'Mushrooms', value: 1}];

  

  $scope.order = [
    //{name:'Med Pizza', amount:1, price: 10.00},
    //{name:'Drink', amount:2, price: 10.99}
  ];

  $scope.modalItem = {};
 
  $scope.addItem = function(t, a) {
    for(var i = 0;i<$scope.order.length;i++){
      if($scope.order[i].name==t){
        $scope.order[i].amount=$scope.order[i].amount+1;
        return;
      }
    }
    $scope.order.push({name:t, amount:1,price:a});
  };

  $scope.hasOptions = function(item) {
    for(var i =0;i<item.items.length;i++){
      if(item.items[i].options&&item.items[i].options.length>0){
        return true;
      }
    }
    return false;
  }

  $scope.setModal = function(item){
    $scope.modalItem=item;
  }

  $scope.subTotal = function() {
    var count = 0;
    angular.forEach($scope.order, function(todo) {
      count += (todo.amount*todo.price);
    });
    return $scope.formatPrice(count);
  };

  $scope.subTotal = function() {
    var count = 0;
    angular.forEach($scope.order, function(todo) {
      count += (todo.amount*todo.price);
    });
    return $scope.formatPrice(count);
  };

  $scope.multTotal = function(mult) {
    var count = 0;
    angular.forEach($scope.order, function(todo) {
      count += (todo.amount*todo.price);
    });
    return $scope.formatPrice(count*mult);
  };
 
  $scope.formatPrice = function(price) {
    return parseFloat(Math.round(price*100)/100).toFixed(2);
  };

  $scope.archive = function() {
    var oldTodos = $scope.order;
    $scope.order = [];
    angular.forEach(oldTodos, function(todo) {
      if (!(todo.amount == 0)) $scope.order.push(todo);
    });
  };

  $scope.sendMail = function() {
    $scope.sendMailButton.disabled = true;
    $scope.sendMailButton.text = 'Ordering <i class="icon-spinner icon-spin icon-large"></i>';
    setTimeout(function(){
        $http({
            url: "/sendMail",
            method: "POST",
            data: {"to":"tbaron@uoguelph.ca",
                   "subject": "onlineOrder",
                   "text": "hey look at this",}
            }).success(function(data, status, headers, config) {
                console.log(data);
                $scope.sendMailButton.disabled = true;
                $scope.sendMailButton.text = 'Order Complete';
            }).error(function(data, status, headers, config) {
                $scope.sendMailButton.text = 'Order Failed';
                $scope.sendMailButton.disabled = false;
        });
    }, 2000)
    
  }
}

</script>
    <div class="container-wide" ng-controller="PizzaCtrl">
        <div class="row">
            <div class="col-md-8">
                <h2>Menu</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Add to order</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="catagory in menu">
                        <tr>
                        <td style="font-weight:bold;">{{catagory.name}}</td>
                        <td></td>
                        <td></td>
                        </tr>
                            <tr ng-repeat="item in catagory.items">
                                    <td style="width:20%">{{item.name}}
                                      <ul ng-show="item.items.length > 1">
                                        <li>pizza</li>
                                        <li>pop</li>
                                      </ul>
                                    </td>
                                    <td style="width:20%">${{formatPrice(item.price)}}</td>
                                    <td style="width:15%" ng-show="hasOptions(item)">
                                        <a data-toggle="modal" href="#myModal" ng-click="setModal(item)" class="btn btn-primary"><i class="icon-plus"></i></a>
                                    </td>
                                    <td style="width:15%" ng-show="!hasOptions(item)">
                                        <a class="btn btn-primary" type="submit" value="add" ng-click="addItem(item.name, item.price)"><i class="icon-plus"></i></a>
                                    </td>
                            </tr>
                            
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Current Order</h2>
                <!--[ <a href="" ng-click="archive()">archive</a> ]-->
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Item</th>
                        <th>Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in order">
                            <td><input style="width:30px" type="text" ng-model="item.amount"></td>
                            <td>{{item.name}}</td>
                            <td>${{formatPrice(item.price*item.amount)}}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div style="float:left;">Subtotal:</div>
                <div style="float:right;">${{subTotal()}}</div>
                <div style="clear: both;"></div>
                <div style="float:left;">Tax: </div>
                <div style="float:right;">${{multTotal(0.13)}}</div>
                <div style="clear: both;"></div>
                <div style="float:left;">Total:</div>
                <div style="float:right;">${{multTotal(1.13)}}</div>
                <div style="clear: both;"></div>
                <br>
                <button class="btn btn-primary btn-large" style="width:100%" ng-disabled="sendMailButton.disabled" ng-init="sendMailButton.disabled=false; sendMailButton.text = 'Place Order <i class=\'icon-food\'></i>';" ng-click="sendMail()" ng-bind-html-unsafe="sendMailButton.text"></button><br><br>
                <div class="alert alert-info">Orders are to be picked up in store.<br>Estimated wait: 20 min<br>To change order call: 123 456-7890</div>
            </div>
        </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Food Options</h4>
        </div>
        <div class="modal-body">        
                <div ng-repeat="item in modalItem.items">
                  <h2>{{item.name}}</h2>
                  <div ng-repeat="option in item.options">
                    <h3>{{option.name}}</h3>
                    <div ng-repeat="optionItem in options[option.name]">
                      <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> {{optionItem.name}}
                      </label>
                    </div>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addItem(modalItem.name, modalItem.price)">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->





    </div>



  



<% include includes/footer %>