<% include includes/header %>
<div class="container-fluid hero-unit">
            <h1><%= pageData.blogName %></h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <% for(var i=pageData.blogPosts.length-1; i>=0; i--) {%>
                <div class="well"><h4 class="media-heading"><%= pageData.blogPosts[i].heading %></h4><%= pageData.blogPosts[i].text %></div>
            <% } %>
        </div>
    </div>             
</div>
<% include includes/footer %>