<% include includes/header %>
<div class="masthead" id="back1">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span9">
                            <div style="height:220px; display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <h1>
                                        Contact Us Anytime.
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="span3" align="center">
                            <img class="picDisplay" src="/public/mainSite/assets/img/umbrella_panda.svg" width="200px" type="image/svg+xml"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4">
                        <h2 align="center">
                            Email
                        </h2>
                        <h2 align="center"><i class="icon-envelope"></i>
                        </h2>
                        <h4 align="center">
                            trevorjbaron@gmail.com
                        </h4>
                    </div>
                    <div class="span4">
                        <h2 align="center">
                            Phone
                        </h2>
                        <h2 align="center"><i class="icon-phone"></i>
                        </h2>
                        <h4 align="center">
                            Coming soon    
                        </h4>
                    </div>
                    <div class="span4">
                        <h2 align="center">
                            Location
                        </h2>
                        <h2 align="center"><i class="icon-globe"></i>
                        </h2>
                        <h4 align="center">
                        King Street, Kitchener
                        </h4>
                    </div>
                </div>
            </div>
            <div id="push">
            </div>
        </div>
        <% include includes/footer %>