<% include includes/header %>
            <div class="masthead" id="back1" style="margin-bottom:50px;">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span9">
                            <div style="height:220px; display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <h1>
                                        Let's do business.
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="span3" align="center">
                            <img class="picDisplay" src="/public/mainSite/assets/img/golf_panda.svg" width="200px" type="image/svg+xml"
                            />
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="well">
                        <h2 align="center">
                            Starter
                        </h2>
                        <h2 align="center">$499</h2>
                        <hr>
                        <p>
                            <ul>
                            <li> Quality custom website
                            <li> Up to 3 pages
                            </ul>
                            
                        </p>
                        <div style="text-align:center">
                            <form class="form-search navbar-form" action="../HTML/checkout.php" method="POST">
                            <button name="starter" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Order Now  
                            </button>
                        </form>
                            </div>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="well">
                        <h2 align="center">
                            Advanced
                        </h2>
                        <h2 align="center">$999</h2>
                        <hr>
                        <p>
                            <ul>
                            <li> Quality custom website
                            <li> Up to 7 pages
                            <li> Content management system
                            </ul>
                        </p>
                        <div style="text-align:center">
                            <form class="form-search navbar-form" action="../HTML/checkout.php" method="POST">
                            <button name="mid" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Order Now  
                            </button>
                        </form>
                            </div>
                    </div>
                    </div>
                    <div class="span4">
                        <div class="well">
                        <h2 align="center">
                            Custom
                        </h2>
                        <h2 align="center">Contact Us</h2>
                        <hr>
                        <p>
                            <ul>
                            <li> Let us know what you need
                            <li> Quick free quotes 
                            </ul>
                        </p>
                        <div style="text-align:center">
                            <a href="../HTML/contact.php" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Contact  
                            </a>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

<% include includes/footer %>