<% include includes/header %>
            <div class="masthead" id="back1" style="margin-bottom:15px;">
                <div class="container-wide">
                    <div class="row">
                        <div class="col-md-9">
                            <div style="height:220px; display: table-row;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    <h1>
                                        Let's do business.
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" align="center">
                            <img class="picDisplay" src="/public/mainSite/assets/img/golf_panda.svg" width="200px" type="image/svg+xml"
                            />
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="container-wide">
                <div class="row">
                    <div class="col-md-4">
                        <div class="well">
                        <h2 align="center">
                            Personal
                        </h2>
                        <h2 align="center">$5/month</h2>
                        <hr>
                        <p>
                            <ul>
                            <li> Quality custom website
                            <li> Free domain name
                            <li> Hosting included
                            <li> Up to 3 pages
                            <li> Access to portfolio pages
                            </ul>
                            
                        </p>
                        <div style="text-align:center">
                            <!-- <form class="form-search navbar-form" action="../HTML/checkout.php" method="POST">
                            <button name="starter" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Order Now  
                            </button>
                            </form> -->
                            <a href="/contact">
                            <button name="mid" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Contact Us  
                            </button>
                            </a>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                        <h2 align="center">
                            Business
                        </h2>
                        <h2 align="center">$15/month</h2>
                        <hr>
                        <p>
                            <ul>
                            <li> Quality custom website
                            <li> Free domain name
                            <li> Hosting included
                            <li> Up to 5 pages
                            <li> Business pages eg. Food Menu Page
                            </ul>
                        </p>
                        <div style="text-align:center">
                            <!-- <form class="form-search navbar-form" action="../HTML/checkout.php" method="POST">
                            <button name="mid" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Order Now  
                            </button>
                            </form> -->
                            <a href="/contact">
                            <button name="mid" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Contact Us
                            </button>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                        <h2 align="center">
                            Business Plus
                        </h2>
                        <h2 align="center">$25/month</h2>
                        <hr>
                        <p>
                            <ul>
                            <li> Free domain name
                            <li> Hosting included
                            <li> Up to 10 pages
                            <li> Access to business plus pages eg. Menu online ordering page
                            </ul>
                        </p>
                        <div style="text-align:center">
                            <a href="/contact" class="btn btn-primary btn-large" style="background-color:#333333;background-color:#222222;">
                            Contact Us 
                            </a>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

<% include includes/footer %>