<% include includes/header %>

<form class="form-signin" action="/savePage/<%= pageData.displayName %>" enctype="multipart/form-data" method="post">
<%- libs.editHtmlHelper.savePageBackToDash() %>
<div class="container-wide">
    <div class="row">
        <div class="col-md-12">
                <div class="well" style="overflow: hidden;">
                    <br>Upload Resume pdf
                    <%- libs.editHtmlHelper.editFileInput(pageData, 'resumePDF') %>
                </div>
        </div>
    </div>             
</div>
</form>
<% include includes/footer %>