<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <@ if (pageData.siteName) { @>
            <a class="navbar-brand" href="<@= pageData.homePageUrl @>"><!--<img class="picDisplay" src="/public/mainSite/assets/img/brick2.svg" width="20px" type="image/svg+xml"/>&nbsp;&nbsp;-->
            <@ } @>
            <@= pageData.siteName @></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <@- pageData.pages @>
        </ul>
    </div>
</div>