<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="<@= homePageUrl @>"><!--<img class="picDisplay" src="/public/mainSite/assets/img/brick2.svg" width="20px" type="image/svg+xml"/>&nbsp;&nbsp;--><@= siteName @></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <@- pages @>
                </ul>
                
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>            <!-- Begin page content -->