<% include includes/header %>
<style type="text/css">
body {
    background: url('/public/assets/custom/img/oldframe.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<link href='http://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet' type='text/css'>


<div class="container-fluid">
    <!-- Main hero unit for a primary marketing message or call to action
    -->
    <div class="row-fluid">
        <div class="span12">
                <div style="padding-top:5%;font-family: 'Shojumaru', cursive;text-align:center;">
                    <h1>
                        Conjuring Houdini
                    </h1>
                    <p>
                        Starring Mag Ruffman in Her Return to the Richmond Hill Stage
                    </p>
                    <p>
                        Written by Jake Horowitz &spades; Featuring Original Illusions by David Merry
                    </p>
                    <p>
                        Produced by Allan Horowitz
                    </p>
                    <img src="/public/assets/custom/img/magician.svg">
                    <h2 style="font-size:1.2em;">Tickets Available Soon</h2>
                    <h2>Materializing Fall 2014</h2>
                    <p style="font-size:0.6em">Copyright &copy; 2013 Sideways Dog Productions</p>

                </div>
        </div>
    </div>
</div>
<% include includes/footer %>