<% include includes/header %>
<script src="/public/assets/bootstrap/js/jquery.min.js">
</script>
<script src="/public/assets/custom/js/jquery.backstretch.min.js">
</script>
<script>
    $.backstretch("/public/assets/custom/img/oldframe.jpg");
</script>
<link href='http://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet' type='text/css'>


<div class="container-fluid">
    <!-- Main hero unit for a primary marketing message or call to action
    -->
    <div class="row-fluid">
        <div class="span12">
                <div style="overflow:hidden;padding-top:5%;font-family: 'Shojumaru', cursive;text-align:center;">
                    <h1>
                        Conjuring Houdini
                    </h1>
                    <p>
                        Starring Mag Ruffman in Her Return to the Richmond Hill Stage
                    </p>
                    <p style="font-size:0.7em">
                        Written by Jake Horowitz &spades; Featuring Original Illusions by David Merry and Jake Horowitz <br> Produced by Allan Horowitz
                    </p>
                    <img src="/public/assets/custom/img/magician.svg">
                    <h2>Tickets Available Soon</h2>
                    <h2 style="font-size:1.2em;">Materializing Fall 2014</h2>

                </div>
        </div>
    </div>
</div>
<% include includes/footer %>